---
# {{ stack.full_name }}
# {{ stack.description }}
{#
name: {{ stack.name }}
#}

networks:
  {{ traefik.network }}:
    external: true

{#
configs: {}
#}

secrets:
  cloudflare_api_token:
    external: true

volumes:
  traefik_data:
    driver: local

services:
  # TRAEFIK - LOAD BALANCER / SSL / WEB SERVER
  traefik:
    image: traefik:{{ traefik.version | default('latest') }}
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"

      - "--providers.docker=true"
      - "--providers.docker.swarmmode=true"
      - "--providers.docker.watch=true"
      # - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

      - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider={{ traefik.acme.resolver }}"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.delaybeforecheck=10"

      # - "--certificatesresolvers.cloudflare.acme.caServer: https://acme-v02.api.letsencrypt.org/directory" # production (default)
      - "--certificatesresolvers.cloudflare.acme.caServer=https://acme-staging-v02.api.letsencrypt.org/directory" # staging

      - "--certificatesresolvers.cloudflare.acme.email={{ traefik.acme.email }}"
      - "--certificatesresolvers.cloudflare.acme.storage={{ traefik.acme.storage }}"
    environment:
      - CF_API_EMAIL=ackoujens@gmail.com
      - CF_API_KEY=/run/secrets/cloudflare_api_token
    networks:
      - {{ traefik.network | default('traefik-network') }}
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    secrets:
      - cloudflare_api_token
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik_data:/letsencrypt"
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network={{ traefik.network }}"

        - "traefik.http.routers.traefik.rule=Host(`traefik.{{ domain.base }}`)"
        - "traefik.http.routers.traefik.entrypoints=websecure"
        - "traefik.http.routers.traefik.tls=true"
        - "traefik.http.routers.traefik.tls.certresolver=cloudflare"
        - "traefik.http.routers.traefik.tls.domains[0].main={{ domain.base }}"
        - "traefik.http.routers.traefik.tls.domains[0].sans=*.{{ domain.base }}"
        - "traefik.http.routers.traefik.service=api@internal"
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"


  whoami:
    image: "traefik/whoami:{{ whoami.version | default('latest') }}"
    networks:
      - {{ traefik.network }}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network={{ traefik.network }}"
        - "traefik.http.routers.whoami.rule=Host(`whoami.{{ domain.base }}`)"
        - "traefik.http.routers.whoami.entrypoints=websecure"
        - "traefik.http.routers.whoami.tls=true"
        - "traefik.http.routers.whoami.tls.certresolver=cloudflare"
        - "traefik.http.services.whoami.loadbalancer.server.port=80"
