services:
{% for service_name, service in stack.services.items() %}
  {{ service_name }}:
    image: {{ service.image }}:{{ service.version }}
    command:
      # FIXME: This is also defined in confg
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.file.filename=/dynamic/tls.yml"
      - "--providers.swarm=true"
      - "--providers.swarm.endpoint=unix:///var/run/docker.sock"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.websecure.address=:443"
      # TODO: Change myresolver to your resolver name if you change it below
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=shackofnoreturn@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=/certs/acme.json"
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--metrics.prometheus=true"
{% if service.ports %}
    ports:
{% for port in service.ports %}
      - target: {{ port.target }}
        published: {{ port.published }}
        protocol: tcp
        mode: host
{% endfor %}
{% endif %}
    # configs:
    #   - source: app_config
    #     target: /etc/myapp/config.yaml
{% endfor %}

# configs:
#   app_config:
#     file: ./configs/app_config.yml
