# {{ stack.title }}

## Overview
{{ stack.description }}

## Files
- 'README.md' – This file.
- `docker-compose.yml` – Swarm-compatible compose file.
- `portainer-template.json` – For Portainer's Template UI.

- `.env` – Runtime configuration.
- `configs/` – Config objects for the service.
- `secrets/` – Secrets for the service.

## Deploy
### Portainer
*Go to preferred node in Portainer > Stacks*
- Name: {{ stack.name }}
- Repository URL: {{ stack.repository.url}}
- Repository reference: {{ stack.repository.reference }}
- Compose path: {{ stack.repository.stackfile}}
