---
# {{ stack.full_name }}
# {{ stack.description }}

networks:
  {{ traefik.network }}:

services:
  dashy:
    image: {{ dashy.image }}:{{ dashy.version | default('latest') }}
    networks:
      - {{ traefik.network }}
    ports:
      - target: 8080
        published: 8182
        protocol: tcp
        mode: host
    deploy:
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '1.00'
          memory: 2G

  heimdall:
    image: {{ heimdall.image }}:{{ heimdall.version | default('latest') }}
    networks:
      - {{ traefik.network }}
    deploy:
      placement:
        constraints:
          - node.role == manager

  # homedash:
  #   image: {{ homedash.image }}:{{ homedash.version | default('latest') }}
  #   networks:
  #     - {{ traefik.network }}
  #   deploy:
  #     placement:
  #       constraints:
  #         - node.role == manager

  # homepage:
  #   image: {{ homepage.image }}:{{ homepage.version | default('latest') }}
  #   networks:
  #     - {{ traefik.network }}
  #   deploy:
  #     placement:
  #       constraints:
  #         - node.role == manager

  # organizr:
  #   image: {{ organizr.image }}:{{ organizr.version | default('latest') }}
  #   networks:
  #     - {{ traefik.network }}
  #   deploy:
  #     placement:
  #       constraints:
  #         - node.role == manager

  # sui:
  #   image: {{ sui.image }}:{{ sui.version | default('latest') }}
  #   networks:
  #     - {{ traefik.network }}
  #   deploy:
  #     placement:
  #       constraints:
  #         - node.role == manager
