SERVICE_NAME=traefik
IMAGE=traefik
IMAGE_TAG=v3.1
CONTAINER_NAME=traefik
HOSTNAME=traefik

TZ=Europe/Brussels
PUID=1000
PGID=1000
UMASK=002
EXTRA_ENV_VAR=

COMMAND=
ENTRYPOINT=

REPLICAS=1
LIMIT_CPUS=0.5
LIMIT_MEMORY=512M
RESERVE_CPUS=0.25
RESERVE_MEMORY=256M

DOMAIN=shackofnoreturn.com
ACME_EMAIL=shackofnoreturn@gmail.com

HEALTHCHECK_INTERVAL=30s
HEALTHCHECK_TIMEOUT=10s
HEALTHCHECK_RETRIES=5
HEALTHCHECK_START_PERIOD=20s
