# For Git repos - ommits sensitive data 
SERVICE_NAME=myservice
IMAGE=myorg/myimage
IMAGE_TAG=latest

# Resource defaults
REPLICAS=1
LIMIT_CPUS=0.5
LIMIT_MEMORY=512M
RESERVE_CPUS=0.25
RESERVE_MEMORY=256M

# Networking
APP_PORT=8080
APP_PORT_PUBLISHED=8080
NFS_SERVER=10.0.0.30
NFS_PATH=/mnt/datapool01
